fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
wheel
psycopg2-binary
alembic
pgvector
twilio
celery
redis
rapidfuzz
openai==1.98.0
pandas
python-multipart
apscheduler
asyncpg
pydantic
httpx
pinecone
langdetect
aiofiles
greenlet
ngrok