fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
wheel
psycopg2-binary
alembic
pgvector
twilio
celery
redis
rapidfuzz
openai==1.98.0
pandas
python-multipart
apscheduler
asyncpg
pydantic
httpx
pinecone
langdetect
aiofiles
greenlet
ngrok
pillow
torch 
torchvision 
transformers
requests
ultralytics
open-clip-torch
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
